<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inloggen</title>
    <link rel="stylesheet" type="text/css" href="/view/css/inloggen.css">
</head>
<body>
    <article class="inlog-article">
        <section class="inlog-section">
            <h3>Inloggen</h3>
            <form>
                <div>
                    <label for="username-input">Username</label><input id="username-input" type="text" placeholder="username">
                </div>
                <div>
                    <label for="password-input">Password</label><input id="password-input" type="password" placeholder="password">
                </div>
                <div>
                    <input id="loginBTN" type="submit" value="Inloggen">
                    <input id="registerBTN" type="submit" value="Registreren">
                    <input id="logoutBTN" type="submit" value="Uitloggen" disabled>
                </div>
            </form>
        </section>
        <div id="loginInfoBox"></div>
    </article>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="../presenter/inloggen.js" type="module"></script>
</body>
</html>