/*** CSS bij Snake ***/

/*** GENERIEK ***/


/*** SPECIFIEK ***/

.snake-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreboard {
    width: 100%;
    margin-left: 20px;
    alignment: center;
}

.main-board {
    display: flex;
    flex-direction: row;
}

.aside {
    width: 33%;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.besturing {
    display: block;
    alignment: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#mySnakeCanvas {
    width: 66%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 0.0625em solid #000000;
}

.snake-buttons {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin-left: auto;
    margin-right: auto;
}

#startSnake, #stopSnake {
    width: 5em;
    margin: 0.5em auto;
}

#infoBox {
    padding: 5px;
    border: 1px solid red;
    margin-top: 5px;
    border-radius: 5px;
    visibility: hidden;
}

.pijl-aktief {
    background-color: lightgreen;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: lightgray;
}

tbody {
    table-layout: inherit;
}

th, td {
    width: 33%;
    padding: 2px 5px;
}