/*** Generiek ***/

body {
    background-color: Ivory;
    color: #333;
    font-family: Roboto, Helvetica, sans-serif;
}



/*** Specifiek ***/
.introduction {
    float: right;
}

.tabs {
    float:left;

}

footer {
    clear: both;
}


